<%- include("layout", { body: `
  <div class="container text-center section">
    <div class="alert alert-success mt-5">
      <h4>Thank you, <%= name %>!</h4>
      <p>Your application has been received. Our team will contact you shortly.</p>
      <a href="/" class="btn btn-outline-primary mt-3">Back to Home</a>
    </div>
  </div>
` }) %>
